<!-- About Me -->
<div class="section-wrapper">
    <section class="section about" id="about">
        <div id="about-text">
            <div class="section-heading">About Me</div>
            <p class="paragraph-text justify-text">
                Hello! I'm Cristiano Cabrera, a graduate student at Purdue University working in the field of fluid dynamics. My research focuses on passive flow control, particularly in supersonic flow regimes. I'm intrigued by the intricacies that shape and influence fluid behavior, and I'm passionate about finding innovative solutions to enhance flow efficiency and performance for different applications.
            </p>
            <p class="paragraph-text justify-text">
                Beyond my current research, I'm deeply committed to exploring sustainable energy solutions as I believe renewable energy is key to addressing our planet's challenges and creating a more sustainable future. I'm also enthusiastic about education and the role it plays in empowering individuals and communities to tackle the problems they face in their daily lives. I'm driven by the idea of interdisciplinary collaboration as a powerful tool for tackling complex global issues, and I'm always eager to engage in discussions and initiatives that aim to create positive change.
            </p>
            <p class="paragraph-text justify-text">
                I'm looking to collaborate and explore new opportunities for research or work with companies, universities, and other research institutions upon my graduation. If you're interested in discussing potential career opportunities, please don't hesitate to reach out.
            </p>
        </div>
    </section>
</div>
