<!-- About Me -->

<div class="section-wrapper">
    <section class="section about" id="about">
        <div id="about-text">
            <div class="section-heading">About Me</div>
            <p class="paragraph-text justify-text">
                About Paragraph 1
            </p>
            <p class="paragraph-text justify-text">
                About Paragraph 2
            </p>
            <p class="paragraph-text justify-text">
                About Paragraph 3
            </p>
        </div>
    </section>
</div>
