<div class="section-wrapper">
    <section class="section about" id="certs">
        <div id="about-text">
            <div class="section-heading">Certifications</div>
            <div class="image-grid">
                <img src="assets/images/logo1.png" alt="Logo 1">
                <img src="assets/images/logo2.png" alt="Logo 2">
                <img src="assets/images/logo3.png" alt="Logo 3">
                <img src="assets/images/logo4.png" alt="Logo 4">
            </div>
            <div class="cert-grid">
                <div class="what-i-do">
                    <h3 class="center-align skills-subsection">College Reading & Learning Association</h3>
                    <p class="paragraph-text center-align">
                        Tutoring
                    </p>
                </div>
                <div class="what-i-do">
                    <h3 class="center-align skills-subsection">American Design Drafting Association</h3>
                    <p class="paragraph-text center-align">
                        Machine Drafting
                    </p>
                </div>
                <div class="what-i-do">
                    <h3 class="center-align skills-subsection">Southwestern Illinois College</h3>
                    <p class="paragraph-text center-align">
                        Multi-Position Welding
                    </p>
                </div>
                <div class="what-i-do">
                    <h3 class="center-align skills-subsection">Purdue University College of Engineering</h3>
                    <p class="paragraph-text center-align">
                        Python Programming
                    </p>
                </div>
                </div>
            </div>
        </div>
    </section>
</div>
