<div class="section-wrapper">
    <section class="section about" id="certs">
        <div id="about-text">
            <div class="section-heading">Certifications</div>
            <p class="paragraph-text justify-text">
                1
            </p>
            <p class="paragraph-text justify-text">
                2
            </p>
            <p class="paragraph-text justify-text">
                3
            </p>
            <p class="paragraph-text justify-text">
                4
            </p>
        </div>
    </section>
</div>

<style>
    #about-text.multi-column {
        column-count: 4; /* Set the number of columns */
        column-gap: 25px; /* Set the gap between columns */
    }
</style>
