<div class="section-wrapper">
    <section class="section about" id="about">
        <div id="about-text">
            <div class="section-heading">Certifications</div>
            <p class="paragraph-text justify-text">
                Put logos and stuff here
            </p>
        </div>

        <div class="row">
          <div class="column">
            <img src="background1.png" alt="Cert 1" style="width:100%">
          </div>
          <div class="column">
            <img src="background2.png" alt="Cert 2" style="width:100%">
          </div>
          <div class="column">
            <img src="background3.png" alt="Cert 3" style="width:100%">
          </div>
        </div>
    </section>
</div>
