<!-- Skills -->
<div class="section-wrapper">
    <section class="section skills" id="skills">
        <div>
            <div class="section-heading" id="skills-text">Skills</div>

            <div class="skills-grid">
                <div class="what-i-do">
                    <h3 class="paragraph-text justify-text"> </h3>
                    <p class="paragraph-text justify-text">
                        In pursuit of my education, I have acquired a wide range of skills to improve the quality of my work. From proficiency in 2D and 3D drafting software to experience in mentoring, teaching, and tutoring, I have honed my ability to communicate complex ideas effectively. Additionally, my programming skills allow me to approach problems analytically and develop innovative solutions to challenges in my work that other tools struggle to handle.
                    </p>
                </div>
                <div class="technical-skills">
                    <h3 class="center-align skills-subsection"> </h3>
                    <div class="progress-bars">
                        <div class="skillbar clearfix " data-percent="95%">
                            <div class="skillbar-title" style="background: #545454;"><span>AutoCAD</span></div>
                            <div class="skillbar-bar" style="background: #b8b8b8;"></div>
                        </div> <!-- End Skill Bar -->

                        <div class="skillbar clearfix " data-percent="85%">
                            <div class="skillbar-title" style="background: #545454;"><span>Inventor</span></div>
                            <div class="skillbar-bar" style="background: #b8b8b8;"></div>
                        </div> <!-- End Skill Bar -->

                        <div class="skillbar clearfix " data-percent="85%">
                            <div class="skillbar-title" style="background: #545454;"><span>SolidWorks</span></div>
                            <div class="skillbar-bar" style="background: #b8b8b8;"></div>
                        </div> <!-- End Skill Bar -->

                        <div class="skillbar clearfix " data-percent="50%">
                            <div class="skillbar-title" style="background: #545454;"><span>Welding</span></div>
                            <div class="skillbar-bar" style="background: #b8b8b8"></div>
                        </div> <!-- End Skill Bar -->

                        <div class="skillbar clearfix " data-percent="90%">
                            <div class="skillbar-title" style="background: #545454;"><span>Python</span></div>
                            <div class="skillbar-bar" style="background: #b8b8b8;"></div>
                        </div> <!-- End Skill Bar -->

                        <div class="skillbar clearfix " data-percent="45%">
                            <div class="skillbar-title" style="background: #545454;"><span>MATLAB</span></div>
                            <div class="skillbar-bar" style="background: #b8b8b8;"></div>
                        </div> <!-- End Skill Bar -->

                        <div class="skillbar clearfix " data-percent="80%">
                            <div class="skillbar-title" style="background: #545454;"><span>Teaching</span></div>
                            <div class="skillbar-bar" style="background: #b8b8b8;"></div>
                        </div> <!-- End Skill Bar -->
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
